.navbar{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    color: white;
    text-align: center;
    justify-content: space-around;
}

li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    color: white;
    
}

ul{
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
}

body{
    background-image: url(beach-6282284_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: end;
}
.ahref{
    color: white;
}
.photo{
    display: flex;
    flex-direction: column;
}
.photo img{
    height: 250px;
    width: 250px;
    border-radius: 3%;
}
.gauche{
    height: 250px;
    width: 250px;
}
.droite{
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    display: flex;
    gap: 25%;
    margin-top: 9%;
}
.textdroit{
    height: 250px;
    width: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color : rgba(0,0,0,0.79);
    border-radius: 10%;
}
.tableau img{
    width: 35%;
    height: 35%;
    display: flex;    
}
.tableau{
    border: 5px solid;
    width: 85%;
}
table{
    padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
}